html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif !important;
  background-image: url("data:image/svg+xml,***<here place encoded svg>***");
  background-repeat: no-repeat;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}