.profileText {
  position: relative;
  z-index: 1;
  color: white;
}

.profileTextH1 {
  font-size: 18px !important;
  font-weight: 600 !important;
}

.profileTextH2 {
  font-size: 14px !important;
  font-weight: 400 !important;
}